.navbar .navbar-brand-wrapper {
	background: green;
}
.navbar-breadcrumb {
	background: green;
}
.navbar {
	border-bottom: 4px solid rgb(20,20,160);
}
.navbar-breadcrumb .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group .input-group-prepend {
	background: rgb(20,20,160);
}

.sidebar {
	background: green;
	color: #fff;
}
.sidebar .nav .nav-item .nav-link, .sidebar .nav .nav-item .nav-link i.menu-icon, .sidebar .nav .nav-item .nav-link i.menu-arrow, .sidebar .nav.sub-menu .nav-item .nav-link {
	color: #fff;
}
.sidebar .nav.sub-menu .nav-item::before {
	background: #fff;
}
.sidebar .nav .nav-item.active > .nav-link i, .sidebar .nav .nav-item.active > .nav-link .menu-title, .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
	color: green;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link{
	color: green;
	background: #fff;
}
.sidebar .nav:not(.sub-menu) > .nav-item:hover >  .nav-link i.menu-icon, .sidebar .nav:not(.sub-menu) > .nav-item:hover > .nav-link i.menu-arrow {
	color: green;
}
.typcn.text-secondary, h1 {
	color: rgb(20,20,160) !important;
}
.btn-info {
	background: rgb(20,20,160) !important;
}
.btn-success, .btn-primary {
	background: green !important;
}

/*student profile*/

img.profile-img {
	height: auto;
	width: 500px;
	object-fit: cover;
	border-radius: 10px;
}